<div class="container mt-4">
    <h3>Checkout Order</h3>
    <div class="container mt-4">
        <div class="row">
            <div class="col">
                <table class="table" cellpadding="3" cellspacing="3">
                    <tr *ngFor="let item of items">
                        <td>{{item.product.name}}</td>
                        <td>Quantity: {{item.quantity}}</td>
                        <td>Price: {{item.product.price}} each</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td align="right"><input class="" type="checkbox" />Indicate if the order is correct</td>
                        <td align="right">Total: <i class="oi oi-dollar"></i><span id="total-price"></span></td>
                    </tr>
                </table>
            </div>
        </div>
        <h3 class="mt-4">Personal Information:</h3>
        <div class="row">
            <div class="container-fluid">
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="fullName">Full Name</label>
                            <input type="text" class="form-control" id="fullName" placeholder="Email">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAddress">Address</label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                    </div>
                    <div class="form-group">
                        <label for="inputAddress2">Address 2</label>
                        <input type="text" class="form-control" id="inputAddress2"
                            placeholder="Apartment, studio, or floor">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputCity">City</label>
                            <input type="text" class="form-control" id="inputCity">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputState">State</label>
                            <select id="inputState" class="form-control">
                                <option selected>Choose...</option>
                                <option>...</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputZip">Zip</label>
                            <input type="text" class="form-control" id="inputZip">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck">
                            <label class="form-check-label" for="gridCheck">
                                I verify this information is correct.
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Proceed to Checkout</button>
                </form>
            </div>

        </div>
    </div>
</div>