<nav class="navbar navbar-expand-lg navbar-light bg-light" id="nav">
  <a class="navbar-brand" href="#">E-Cart by Blake</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="product-display" href="/product-display" routerLinkActive="active">View Products</a>
      </li>
      <li class="nav-item">
        <a id="cart-nav" class="nav-link" routerLink="your-cart" href="your-cart/" routerLinkActive="active">View Cart<img src="../../assets/images/icons/cart.png" width="10%" height="10%"  /></a>
      </li>
    </ul>
  </div>
</nav>  